<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
    <a href="https://github.com/emirfmutlu/bana_kitap_oner" class="btn btn-link social"  type="button" name="button"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/emirfmutlu/" class="btn btn-link social" type="button" name="button"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/emirfmutlu" class="btn btn-link social" type="button" name="button"><i class="fab fa-twitter"></i></a>
    <a href="https://medium.com/@emirfmutlu" class="btn btn-link social" type="button" name="button"><i class="fab fa-medium-m"></i></a>

    <p>© Copyright 2022 Mochi</p>
  </footer>
</body>
</html>