<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mochi</title>
  <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/15438fdfde.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css">

</head>

<body>
  <!-- HEADER-->
  <section id="title">
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Mochi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">Bana Kitap Öner</a> <!-- Bu digerlerinden farkli bir buton olsun  --></li>
        <li class="nav-item"><a class="nav-link" href="#">Anasayfa</a></li>
        <li class="nav-item"><a class="nav-link" href="#">İletişim</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-lg-6">
      <h1 class="title-heading">Ruh halinize göre kitaplar bulun. bla bla bla bana para ver</h1>
      <button type="button" class="btn btn-light basla">Kitap öner</button>
    </div>
    <div class="col-lg-6">
      <img class="lady" src="https://images.pexels.com/photos/5084674/pexels-photo-5084674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
  </div>
</div>



</section>
    <!-- Features -->
  <section id="features">
    <div class="container feature-grid">
  <div class="row">
    <div class="col-sm">
      <i class="fas fa-user-tie icon"></i>
      <h3><strong>Özenle seçilen kitaplar</strong></h3>
      <p> Sizleri düşünerek uzmanların tavsiye ettiği kitapları sizlere sunuyoruz.</p>
    </div>
    <div class="col-sm">
      <i class="fas fa-bullseye feature-logo icon"></i>
      <h3><strong>Kullanımı kolay</strong></h3>
      <p>Saniyeler içinde okuyacağınız yeni kitabı seçin</p>
    </div>
    <div class="col-sm">
      <i class="fas fa-book-reader icon"></i>
      <h3><strong>Okuma alışkanlıklarınızı yeniler</strong></h3>
      <p>BUNA DİYECEK BİR ŞEY BULAMADIM MELİKE YARDIMMMMMMMMMMMMMMMM</p>
    </div>
  </div>
</div>



</div>

  </section>

  <!-- title -->


  <!-- footer -->

  <footer>
    <button class="btn btn-link social" type="button" name="button"><i class="fab fa-github"></i></button>
    <button class="btn btn-link social" type="button" name="button"><i class="fab fa-linkedin"></i></button>
    <button class="btn btn-link social" type="button" name="button"><i class="fab fa-twitter"></i></button>
    <button class="btn btn-link social" type="button" name="button"><i class="fab fa-medium-m"></i></button>

    <p>© Copyright 2022 Mochi</p>
  </footer>


</body>

</html>
